### Summary

<p>
Some employees of a company are going to think about leaving the company. This phenomenon is captured with the
terms "attrition" or "churn". Given data algorithms can try to predict, which employees are going to leave the
company. It is up to the decision making of the enterprise to act on this knowledge, maybe offer incentives to hold
the employee in the company.
</p>

<p>
Algorithms applied here on the attrition data set are logistic regression and random forest. The application is
made possible by preparing the data and split it into train-, validation-, and test data. The quality of the
results is measured with metrics like precision, accuracy and recall.
</p>

<p>
According to the evaluation the logistic regression model proved to work best for the data set.
</p>

### Load data and packages

In [1]:
# Test notebook works
3+3

[1] 6

In [2]:
getwd()

[1] "C:/Users/gamarandor/data_science/data_science_projects/data_camp_projects/employee_attrition"

In [3]:
library(tidyverse)

Warning message:
"package 'tidyverse' was built under R version 3.5.2"-- Attaching packages --------------------------------------- tidyverse 1.2.1 --
v ggplot2 3.1.0     v purrr   0.2.5
v tibble  1.4.2     v dplyr   0.7.8
v tidyr   0.8.2     v stringr 1.3.1
v readr   1.3.1     v forcats 0.4.0
Warning message:
"package 'readr' was built under R version 3.5.2"Warning message:
"package 'forcats' was built under R version 3.5.2"-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [4]:
library(rsample)

Warning message:
"package 'rsample' was built under R version 3.5.2"
Attaching package: 'rsample'

The following object is masked from 'package:tidyr':

    fill

In [5]:
library(Metrics)

Warning message:
"package 'Metrics' was built under R version 3.5.2"

In [6]:
library(ranger)

Warning message:
"package 'ranger' was built under R version 3.5.2"

### Read in the data

In [7]:
file_path = 'WA_Fn-UseC_-HR-Employee-Attrition.csv'
file_path

[1] "WA_Fn-UseC_-HR-Employee-Attrition.csv"

In [8]:
attrition = read.csv(file_path)

### Explore data

In [9]:
dim(attrition)
nrow(attrition)
ncol(attrition)

[1] 1470   35

[1] 1470

[1] 35

In [10]:
colnames(attrition)

 [1] "ï..Age"                   "Attrition"
 [3] "BusinessTravel"           "DailyRate"
 [5] "Department"               "DistanceFromHome"
 [7] "Education"                "EducationField"
 [9] "EmployeeCount"            "EmployeeNumber"
[11] "EnvironmentSatisfaction"  "Gender"
[13] "HourlyRate"               "JobInvolvement"
[15] "JobLevel"                 "JobRole"
[17] "JobSatisfaction"          "MaritalStatus"
[19] "MonthlyIncome"            "MonthlyRate"
[21] "NumCompaniesWorked"       "Over18"
[23] "OverTime"                 "PercentSalaryHike"
[25] "PerformanceRating"        "RelationshipSatisfaction"
[27] "StandardHours"            "StockOptionLevel"
[29] "TotalWorkingYears"        "TrainingTimesLastYear"
[31] "WorkLifeBalance"          "YearsAtCompany"
[33] "YearsInCurrentRole"       "YearsSinceLastPromotion"
[35] "YearsWithCurrManager"

The variable 'Attrition' is the response or dependent variable, which we want to predict.

In [11]:
glimpse(attrition)

Observations: 1,470
Variables: 35
$ ï..Age                   <int> 41, 49, 37, 33, 27, 32, 59, 30, 38, 36, 35...
$ Attrition                <fct> Yes, No, Yes, No, No, No, No, No, No, No, ...
$ BusinessTravel           <fct> Travel_Rarely, Travel_Frequently, Travel_R...
$ DailyRate                <int> 1102, 279, 1373, 1392, 591, 1005, 1324, 13...
$ Department               <fct> Sales, Research & Development, Research & ...
$ DistanceFromHome         <int> 1, 8, 2, 3, 2, 2, 3, 24, 23, 27, 16, 15, 2...
$ Education                <int> 2, 1, 2, 4, 1, 2, 3, 1, 3, 3, 3, 2, 1, 2, ...
$ EducationField           <fct> Life Sciences, Life Sciences, Other, Life ...
$ EmployeeCount            <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
$ EmployeeNumber           <int> 1, 2, 4, 5, 7, 8, 10, 11, 12, 13, 14, 15, ...
$ EnvironmentSatisfaction  <int> 2, 3, 4, 4, 1, 4, 3, 4, 4, 3, 1, 4, 1, 2, ...
$ Gender                   <fct> Female, Male, Male, Female, Male, Male, Fe...
$ HourlyRate               <int> 94, 61, 92, 56, 40, 79, 81, 67, 44, 94, 84...
$ JobInvolvement           <int> 3, 2, 2, 3, 3, 3, 4, 3, 2, 3, 4, 2, 3, 3, ...
$ JobLevel                 <int> 2, 2, 1, 1, 1, 1, 1, 1, 3, 2, 1, 2, 1, 1, ...
$ JobRole                  <fct> Sales Executive, Research Scientist, Labor...
$ JobSatisfaction          <int> 4, 2, 3, 3, 2, 4, 1, 3, 3, 3, 2, 3, 3, 4, ...
$ MaritalStatus            <fct> Single, Married, Single, Married, Married,...
$ MonthlyIncome            <int> 5993, 5130, 2090, 2909, 3468, 3068, 2670, ...
$ MonthlyRate              <int> 19479, 24907, 2396, 23159, 16632, 11864, 9...
$ NumCompaniesWorked       <int> 8, 1, 6, 1, 9, 0, 4, 1, 0, 6, 0, 0, 1, 0, ...
$ Over18                   <fct> Y, Y, Y, Y, Y, Y, Y, Y, Y, Y, Y, Y, Y, Y, ...
$ OverTime                 <fct> Yes, No, Yes, Yes, No, No, Yes, No, No, No...
$ PercentSalaryHike        <int> 11, 23, 15, 11, 12, 13, 20, 22, 21, 13, 13...
$ PerformanceRating        <int> 3, 4, 3, 3, 3, 3, 4, 4, 4, 3, 3, 3, 3, 3, ...
$ RelationshipSatisfaction <int> 1, 4, 2, 3, 4, 3, 1, 2, 2, 2, 3, 4, 4, 3, ...
$ StandardHours            <int> 80, 80, 80, 80, 80, 80, 80, 80, 80, 80, 80...
$ StockOptionLevel         <int> 0, 1, 0, 0, 1, 0, 3, 1, 0, 2, 1, 0, 1, 1, ...
$ TotalWorkingYears        <int> 8, 10, 7, 8, 6, 8, 12, 1, 10, 17, 6, 10, 5...
$ TrainingTimesLastYear    <int> 0, 3, 3, 3, 3, 2, 3, 2, 2, 3, 5, 3, 1, 2, ...
$ WorkLifeBalance          <int> 1, 3, 3, 3, 3, 2, 2, 3, 3, 2, 3, 3, 2, 3, ...
$ YearsAtCompany           <int> 6, 10, 0, 8, 2, 7, 1, 1, 9, 7, 5, 9, 5, 2,...
$ YearsInCurrentRole       <int> 4, 7, 0, 7, 2, 7, 0, 0, 7, 7, 4, 5, 2, 2, ...
$ YearsSinceLastPromotion  <int> 0, 1, 0, 3, 2, 3, 0, 0, 1, 7, 0, 0, 4, 1, ...
$ YearsWithCurrManager     <int> 5, 7, 0, 0, 2, 6, 0, 0, 8, 7, 3, 8, 3, 2, ...

In [12]:
unique(attrition$Attrition )

[1] Yes No
Levels: No Yes

In [13]:
summary(attrition)

     ï..Age      Attrition            BusinessTravel   DailyRate
 Min.   :18.00   No :1233   Non-Travel       : 150   Min.   : 102.0
 1st Qu.:30.00   Yes: 237   Travel_Frequently: 277   1st Qu.: 465.0
 Median :36.00              Travel_Rarely    :1043   Median : 802.0
 Mean   :36.92                                       Mean   : 802.5
 3rd Qu.:43.00                                       3rd Qu.:1157.0
 Max.   :60.00                                       Max.   :1499.0

                  Department  DistanceFromHome   Education
 Human Resources       : 63   Min.   : 1.000   Min.   :1.000
 Research & Development:961   1st Qu.: 2.000   1st Qu.:2.000
 Sales                 :446   Median : 7.000   Median :3.000
                              Mean   : 9.193   Mean   :2.913
                              3rd Qu.:14.000   3rd Qu.:4.000
                              Max.   :29.000   Max.   :5.000

          EducationField EmployeeCount EmployeeNumber   EnvironmentSatisfaction
 Human Resources : 27    Min.   :1     Min.   :   1.0   Min.   :1.000
 Life Sciences   :606    1st Qu.:1     1st Qu.: 491.2   1st Qu.:2.000
 Marketing       :159    Median :1     Median :1020.5   Median :3.000
 Medical         :464    Mean   :1     Mean   :1024.9   Mean   :2.722
 Other           : 82    3rd Qu.:1     3rd Qu.:1555.8   3rd Qu.:4.000
 Technical Degree:132    Max.   :1     Max.   :2068.0   Max.   :4.000

    Gender      HourlyRate     JobInvolvement    JobLevel
 Female:588   Min.   : 30.00   Min.   :1.00   Min.   :1.000
 Male  :882   1st Qu.: 48.00   1st Qu.:2.00   1st Qu.:1.000
              Median : 66.00   Median :3.00   Median :2.000
              Mean   : 65.89   Mean   :2.73   Mean   :2.064
              3rd Qu.: 83.75   3rd Qu.:3.00   3rd Qu.:3.000
              Max.   :100.00   Max.   :4.00   Max.   :5.000

                      JobRole    JobSatisfaction  MaritalStatus MonthlyIncome
 Sales Executive          :326   Min.   :1.000   Divorced:327   Min.   : 1009
 Research Scientist       :292   1st Qu.:2.000   Married :673   1st Qu.: 2911
 Laboratory Technician    :259   Median :3.000   Single  :470   Median : 4919
 Manufacturing Director   :145   Mean   :2.729                  Mean   : 6503
 Healthcare Representative:131   3rd Qu.:4.000                  3rd Qu.: 8379
 Manager                  :102   Max.   :4.000                  Max.   :19999
 (Other)                  :215
  MonthlyRate    NumCompaniesWorked Over18   OverTime   PercentSalaryHike
 Min.   : 2094   Min.   :0.000      Y:1470   No :1054   Min.   :11.00
 1st Qu.: 8047   1st Qu.:1.000               Yes: 416   1st Qu.:12.00
 Median :14236   Median :2.000                          Median :14.00
 Mean   :14313   Mean   :2.693                          Mean   :15.21
 3rd Qu.:20462   3rd Qu.:4.000                          3rd Qu.:18.00
 Max.   :26999   Max.   :9.000                          Max.   :25.00

 PerformanceRating RelationshipSatisfaction StandardHours StockOptionLevel
 Min.   :3.000     Min.   :1.000            Min.   :80    Min.   :0.0000
 1st Qu.:3.000     1st Qu.:2.000            1st Qu.:80    1st Qu.:0.0000
 Median :3.000     Median :3.000            Median :80    Median :1.0000
 Mean   :3.154     Mean   :2.712            Mean   :80    Mean   :0.7939
 3rd Qu.:3.000     3rd Qu.:4.000            3rd Qu.:80    3rd Qu.:1.0000
 Max.   :4.000     Max.   :4.000            Max.   :80    Max.   :3.0000

 TotalWorkingYears TrainingTimesLastYear WorkLifeBalance YearsAtCompany
 Min.   : 0.00     Min.   :0.000         Min.   :1.000   Min.   : 0.000
 1st Qu.: 6.00     1st Qu.:2.000         1st Qu.:2.000   1st Qu.: 3.000
 Median :10.00     Median :3.000         Median :3.000   Median : 5.000
 Mean   :11.28     Mean   :2.799         Mean   :2.761   Mean   : 7.008
 3rd Qu.:15.00     3rd Qu.:3.000         3rd Qu.:3.000   3rd Qu.: 9.000
 Max.   :40.00     Max.   :6.000         Max.   :4.000   Max.   :40.000

 YearsInCurrentRole YearsSinceLastPromotion YearsWithCurrManager
 Min.   : 0.000     Min.   : 0.000          Min.   : 0.000
 1st Qu.: 2.000     1st Qu.: 0.000          1st Qu.: 2.000
 Median : 3.000     Median : 1.000          Median : 3.000
 Mean   : 4.229     Mean   : 2.188          Mean   : 4.123
 3rd Qu.: 7.000     3rd Qu.: 3.000          3rd Qu.: 7.000
 Max.   :18.000     Max.   :15.000          Max.   :17.000

In [14]:
head(attrition)

  ï..Age Attrition BusinessTravel    DailyRate Department
1 41     Yes       Travel_Rarely     1102      Sales
2 49     No        Travel_Frequently  279      Research & Development
3 37     Yes       Travel_Rarely     1373      Research & Development
4 33     No        Travel_Frequently 1392      Research & Development
5 27     No        Travel_Rarely      591      Research & Development
6 32     No        Travel_Frequently 1005      Research & Development
  DistanceFromHome Education EducationField EmployeeCount EmployeeNumber ...
1 1                2         Life Sciences  1             1              ...
2 8                1         Life Sciences  1             2              ...
3 2                2         Other          1             4              ...
4 3                4         Life Sciences  1             5              ...
5 2                1         Medical        1             7              ...
6 2                2         Life Sciences  1             8              ...
  RelationshipSatisfaction StandardHours StockOptionLevel TotalWorkingYears
1 1                        80            0                 8
2 4                        80            1                10
3 2                        80            0                 7
4 3                        80            0                 8
5 4                        80            1                 6
6 3                        80            0                 8
  TrainingTimesLastYear WorkLifeBalance YearsAtCompany YearsInCurrentRole
1 0                     1                6             4
2 3                     3               10             7
3 3                     3                0             0
4 3                     3                8             7
5 3                     3                2             2
6 2                     2                7             7
  YearsSinceLastPromotion YearsWithCurrManager
1 0                       5
2 1                       7
3 0                       0
4 3                       0
5 2                       2
6 3                       6

In [15]:
tail(attrition)

     ï..Age Attrition BusinessTravel    DailyRate Department
1465 26     No        Travel_Rarely     1167      Sales
1466 36     No        Travel_Frequently  884      Research & Development
1467 39     No        Travel_Rarely      613      Research & Development
1468 27     No        Travel_Rarely      155      Research & Development
1469 49     No        Travel_Frequently 1023      Sales
1470 34     No        Travel_Rarely      628      Research & Development
     DistanceFromHome Education EducationField EmployeeCount EmployeeNumber ...
1465  5               3         Other          1             2060           ...
1466 23               2         Medical        1             2061           ...
1467  6               1         Medical        1             2062           ...
1468  4               3         Life Sciences  1             2064           ...
1469  2               3         Medical        1             2065           ...
1470  8               3         Medical        1             2068           ...
     RelationshipSatisfaction StandardHours StockOptionLevel TotalWorkingYears
1465 4                        80            0                 5
1466 3                        80            1                17
1467 1                        80            1                 9
1468 2                        80            1                 6
1469 4                        80            0                17
1470 1                        80            0                 6
     TrainingTimesLastYear WorkLifeBalance YearsAtCompany YearsInCurrentRole
1465 2                     3               4              2
1466 3                     3               5              2
1467 5                     3               7              7
1468 0                     3               6              2
1469 3                     2               9              6
1470 3                     4               4              3
     YearsSinceLastPromotion YearsWithCurrManager
1465 0                       0
1466 0                       3
1467 1                       7
1468 0                       3
1469 0                       8
1470 1                       2

In [16]:
# Drop Over18 from the model
attrition$Over18 <- NULL

### Train-Test-Validate data

Initial split (from the rsample libary)

In [17]:
set.seed(42)
attr_split <- initial_split(attrition, prop=0.75)

In [18]:
summary(attr_split)

       Length Class      Mode
data     34   data.frame list
in_id  1103   -none-     numeric
out_id    1   -none-     logical
id        1   tbl_df     list

Read out training and testing data into variables

In [19]:
training_attr <- training(attr_split)
head(training_attr, 2)
dim(training_attr)

  ï..Age Attrition BusinessTravel DailyRate Department
5 27     No        Travel_Rarely   591      Research & Development
7 59     No        Travel_Rarely  1324      Research & Development
  DistanceFromHome Education EducationField EmployeeCount EmployeeNumber ...
5 2                1         Medical        1              7             ...
7 3                3         Medical        1             10             ...
  RelationshipSatisfaction StandardHours StockOptionLevel TotalWorkingYears
5 4                        80            1                 6
7 1                        80            3                12
  TrainingTimesLastYear WorkLifeBalance YearsAtCompany YearsInCurrentRole
5 3                     3               2              2
7 3                     2               1              0
  YearsSinceLastPromotion YearsWithCurrManager
5 2                       2
7 0                       0

[1] 1103   34

In [20]:
testing_attr <- testing(attr_split)
head(testing_attr, 2)
dim(testing_attr)

  ï..Age Attrition BusinessTravel    DailyRate Department
1 41     Yes       Travel_Rarely     1102      Sales
2 49     No        Travel_Frequently  279      Research & Development
  DistanceFromHome Education EducationField EmployeeCount EmployeeNumber ...
1 1                2         Life Sciences  1             1              ...
2 8                1         Life Sciences  1             2              ...
  RelationshipSatisfaction StandardHours StockOptionLevel TotalWorkingYears
1 1                        80            0                 8
2 4                        80            1                10
  TrainingTimesLastYear WorkLifeBalance YearsAtCompany YearsInCurrentRole
1 0                     1                6             4
2 3                     3               10             7
  YearsSinceLastPromotion YearsWithCurrManager
1 0                       5
2 1                       7

[1] 367  34

Train-Validate Split<br>
Create folds. <br>
Creating a number of folds means deviding the training data into subsets.<br>

In [21]:
#v: number of folds
cv_split_attr <- vfold_cv(training_attr, v=5)
summary(cv_split_attr)

 splits.Length  splits.Class  splits.Mode      id
 4       rsplit  list                     Length:5
 4       rsplit  list                     Class :character
 4       rsplit  list                     Mode  :character
 4       rsplit  list
 4       rsplit  list

In [22]:
str(cv_split_attr[1,1])

Classes 'rset', 'tbl_df', 'tbl' and 'data.frame':	1 obs. of  1 variable:
 $ splits:List of 1
  ..$ 1:List of 4
  .. ..$ data  :'data.frame':	1103 obs. of  34 variables:
  .. .. ..$ ï..Age                  : int  27 59 30 38 36 29 31 34 28 29 ...
  .. .. ..$ Attrition               : Factor w/ 2 levels "No","Yes": 1 1 1 1 1 1 1 1 2 1 ...
  .. .. ..$ BusinessTravel          : Factor w/ 3 levels "Non-Travel","Travel_Frequently",..: 3 3 3 2 3 3 3 3 3 3 ...
  .. .. ..$ DailyRate               : int  591 1324 1358 216 1299 153 670 1346 103 1389 ...
  .. .. ..$ Department              : Factor w/ 3 levels "Human Resources",..: 2 2 2 2 2 2 2 2 2 2 ...
  .. .. ..$ DistanceFromHome        : int  2 3 24 23 27 15 26 19 24 21 ...
  .. .. ..$ Education               : int  1 3 1 3 3 2 1 2 3 4 ...
  .. .. ..$ EducationField          : Factor w/ 6 levels "Human Resources",..: 4 4 2 2 4 2 2 4 2 2 ...
  .. .. ..$ EmployeeCount           : int  1 1 1 1 1 1 1 1 1 1 ...
  .. .. ..$ EmployeeNumber          : int  7 10 11 12 13 15 16 18 19 20 ...
  .. .. ..$ EnvironmentSatisfaction : int  1 3 4 4 3 4 1 2 3 2 ...
  .. .. ..$ Gender                  : Factor w/ 2 levels "Female","Male": 2 1 2 2 2 1 2 2 2 1 ...
  .. .. ..$ HourlyRate              : int  40 81 67 44 94 49 31 93 50 51 ...
  .. .. ..$ JobInvolvement          : int  3 4 3 2 3 2 3 3 2 4 ...
  .. .. ..$ JobLevel                : int  1 1 1 3 2 2 1 1 1 3 ...
  .. .. ..$ JobRole                 : Factor w/ 9 levels "Healthcare Representative",..: 3 3 3 5 1 3 7 3 3 5 ...
  .. .. ..$ JobSatisfaction         : int  2 1 3 3 3 3 3 4 3 1 ...
  .. .. ..$ MaritalStatus           : Factor w/ 3 levels "Divorced","Married",..: 2 2 1 3 2 3 1 1 3 1 ...
  .. .. ..$ MonthlyIncome           : int  3468 2670 2693 9526 5237 4193 2911 2661 2028 9980 ...
  .. .. ..$ MonthlyRate             : int  16632 9964 13335 8787 16577 12682 15170 8758 12947 10195 ...
  .. .. ..$ NumCompaniesWorked      : int  9 4 1 0 6 0 1 0 5 1 ...
  .. .. ..$ OverTime                : Factor w/ 2 levels "No","Yes": 1 2 1 1 1 2 1 1 2 1 ...
  .. .. ..$ PercentSalaryHike       : int  12 20 22 21 13 12 17 11 14 11 ...
  .. .. ..$ PerformanceRating       : int  3 4 4 4 3 3 3 3 3 3 ...
  .. .. ..$ RelationshipSatisfaction: int  4 1 2 2 2 4 4 3 2 3 ...
  .. .. ..$ StandardHours           : int  80 80 80 80 80 80 80 80 80 80 ...
  .. .. ..$ StockOptionLevel        : int  1 3 1 0 2 0 1 1 0 1 ...
  .. .. ..$ TotalWorkingYears       : int  6 12 1 10 17 10 5 3 6 10 ...
  .. .. ..$ TrainingTimesLastYear   : int  3 3 2 2 3 3 1 2 4 1 ...
  .. .. ..$ WorkLifeBalance         : int  3 2 3 3 2 3 2 3 3 3 ...
  .. .. ..$ YearsAtCompany          : int  2 1 1 9 7 9 5 2 4 10 ...
  .. .. ..$ YearsInCurrentRole      : int  2 0 0 7 7 5 2 2 2 9 ...
  .. .. ..$ YearsSinceLastPromotion : int  2 0 0 1 7 0 4 1 0 8 ...
  .. .. ..$ YearsWithCurrManager    : int  2 0 0 8 7 8 3 2 3 8 ...
  .. ..$ in_id : int  2 3 4 5 6 7 8 9 11 14 ...
  .. ..$ out_id: logi NA
  .. ..$ id    :Classes 'tbl_df', 'tbl' and 'data.frame':	1 obs. of  1 variable:
  .. .. ..$ id: chr "Fold1"
  .. ..- attr(*, "class")= chr  "rsplit" "vfold_split"

This creates a data frame, which stores 5 folds, whereby each split contains list of the original data frame.

Create train-validation <br>
The folds or subsets are now themselves devided into training and testing data.<br>
Essentially this is cross-validation: <br>
First create subsets or folds.<br>
Second devide folds into training and validation (testing) sets.

In [23]:
cv_data_attr <- cv_split_attr %>% mutate(train=map(.x = splits, .f=~training(.x)),
                                         test=map(.x=splits, .f=~testing(.x)))

In [24]:
class(cv_data_attr)

[1] "vfold_cv"   "rset"       "tbl_df"     "tbl"        "data.frame"

In [25]:
colnames(cv_data_attr)

[1] "splits" "id"     "train"  "test"

Now the data is split into training, validation (5-folds) and test data and is therefore 
prepared for model building.

Building cross-validated models

In [26]:
colnames(cv_data_attr)

[1] "splits" "id"     "train"  "test"

In [27]:
str(cv_data_attr[1,"train"])

Classes 'tbl_df', 'tbl' and 'data.frame':	1 obs. of  1 variable:
 $ train:List of 1
  ..$ 1:'data.frame':	882 obs. of  34 variables:
  .. ..$ ï..Age                  : int  59 30 38 36 29 31 34 28 32 38 ...
  .. ..$ Attrition               : Factor w/ 2 levels "No","Yes": 1 1 1 1 1 1 1 2 1 1 ...
  .. ..$ BusinessTravel          : Factor w/ 3 levels "Non-Travel","Travel_Frequently",..: 3 3 2 3 3 3 3 3 3 3 ...
  .. ..$ DailyRate               : int  1324 1358 216 1299 153 670 1346 103 334 371 ...
  .. ..$ Department              : Factor w/ 3 levels "Human Resources",..: 2 2 2 2 2 2 2 2 2 2 ...
  .. ..$ DistanceFromHome        : int  3 24 23 27 15 26 19 24 5 2 ...
  .. ..$ Education               : int  3 1 3 3 2 1 2 3 2 3 ...
  .. ..$ EducationField          : Factor w/ 6 levels "Human Resources",..: 4 2 2 4 2 2 4 2 2 2 ...
  .. ..$ EmployeeCount           : int  1 1 1 1 1 1 1 1 1 1 ...
  .. ..$ EmployeeNumber          : int  10 11 12 13 15 16 18 19 21 24 ...
  .. ..$ EnvironmentSatisfaction : int  3 4 4 3 4 1 2 3 1 4 ...
  .. ..$ Gender                  : Factor w/ 2 levels "Female","Male": 1 2 2 2 1 2 2 2 2 2 ...
  .. ..$ HourlyRate              : int  81 67 44 94 49 31 93 50 80 45 ...
  .. ..$ JobInvolvement          : int  4 3 2 3 2 3 3 2 4 3 ...
  .. ..$ JobLevel                : int  1 1 3 2 2 1 1 1 1 1 ...
  .. ..$ JobRole                 : Factor w/ 9 levels "Healthcare Representative",..: 3 3 5 1 3 7 3 3 7 7 ...
  .. ..$ JobSatisfaction         : int  1 3 3 3 3 3 4 3 2 4 ...
  .. ..$ MaritalStatus           : Factor w/ 3 levels "Divorced","Married",..: 2 1 3 2 3 1 1 3 1 3 ...
  .. ..$ MonthlyIncome           : int  2670 2693 9526 5237 4193 2911 2661 2028 3298 3944 ...
  .. ..$ MonthlyRate             : int  9964 13335 8787 16577 12682 15170 8758 12947 15053 4306 ...
  .. ..$ NumCompaniesWorked      : int  4 1 0 6 0 1 0 5 0 5 ...
  .. ..$ OverTime                : Factor w/ 2 levels "No","Yes": 2 1 1 1 2 1 1 2 2 2 ...
  .. ..$ PercentSalaryHike       : int  20 22 21 13 12 17 11 14 12 11 ...
  .. ..$ PerformanceRating       : int  4 4 4 3 3 3 3 3 3 3 ...
  .. ..$ RelationshipSatisfaction: int  1 2 2 2 4 4 3 2 4 3 ...
  .. ..$ StandardHours           : int  80 80 80 80 80 80 80 80 80 80 ...
  .. ..$ StockOptionLevel        : int  3 1 0 2 0 1 1 0 2 0 ...
  .. ..$ TotalWorkingYears       : int  12 1 10 17 10 5 3 6 7 6 ...
  .. ..$ TrainingTimesLastYear   : int  3 2 2 3 3 1 2 4 5 3 ...
  .. ..$ WorkLifeBalance         : int  2 3 3 2 3 2 3 3 2 3 ...
  .. ..$ YearsAtCompany          : int  1 1 9 7 9 5 2 4 6 3 ...
  .. ..$ YearsInCurrentRole      : int  0 0 7 7 5 2 2 2 2 2 ...
  .. ..$ YearsSinceLastPromotion : int  0 0 1 7 0 4 1 0 0 1 ...
  .. ..$ YearsWithCurrManager    : int  0 0 8 7 8 3 2 3 5 2 ...

### Building a logistic regression model

In [28]:
# Use all predictor variables as features
# cv_models_attr <- cv_data_attr  %>% mutate(model= map(train, ~glm(formula=Attrition~., data=.x, family="binomial")))

This model produces the following error: 
<p>
Error in mutate_impl(.data, dots): Evaluation error: contrasts can be applied only to factors with 2 or more levels.Traceback:
</p>
<p>
How to solve this problem?<br>
Clue: "can be applied only to factors with 2 or more levels"<br>
All variables are used as predictors.<br>
These factors are:<br>
Attrition is a factor.<br>
BusinessTravel + Department + EducationField + Gender + JobRole + MaritalStatus + Over18 + OverTime<br>
Over18 has only one level: Factor w/ 1 level "Y": 1 1 1 1 1 1 1 1 1 1 ...<br>
This seems critical.
<p>
Solution?
</p>
</p>
<p>
Induction (Latin inducere 'bring about', 'induce', 'introduce') since Aristotle means the abstracting conclusion of observed phenomena to a more general knowledge, such as a general concept or a law of nature.
</p>
<p>
Test every factor one at a time and observe the result.
</p>
<p>
Result:<br>
Over18 throws an error.
</p>
<p>
Investigate:<br> 
Over18 has only one level. All are over 18. It makes sense to drop it from the model. 
</p>

In [29]:
# Use factor predictor variables as features one at a time
cv_models_attr <- cv_data_attr  %>% mutate(model= 
                                           (map(train, ~glm(formula=Attrition~BusinessTravel+Department + EducationField+ Gender+ JobRole+ MaritalStatus + OverTime , data=.x, family="binomial"))))

In [30]:
# Check the model
# The model works
summary(cv_models_attr)

 splits.Length  splits.Class  splits.Mode      id
 4       rsplit  list                     Length:5
 4       rsplit  list                     Class :character
 4       rsplit  list                     Mode  :character
 4       rsplit  list
 4       rsplit  list
 train.Length  train.Class  train.Mode test.Length  test.Class  test.Mode
 34          data.frame  list          34          data.frame  list
 34          data.frame  list          34          data.frame  list
 34          data.frame  list          34          data.frame  list
 34          data.frame  list          34          data.frame  list
 34          data.frame  list          34          data.frame  list
 model.Length  model.Class  model.Mode
 30    glm   list
 30    glm   list
 30    glm   list
 30    glm   list
 30    glm   list

Drop Over18 from the model with minus-sign does not work. Instead drop it from the data set above at start of the notebook.

In [31]:
 cv_models_lr <- cv_data_attr  %>% mutate(model = map(train, ~glm(formula=Attrition~., data = .x, family = "binomial")))

In [32]:
summary(cv_models_lr)

 splits.Length  splits.Class  splits.Mode      id
 4       rsplit  list                     Length:5
 4       rsplit  list                     Class :character
 4       rsplit  list                     Mode  :character
 4       rsplit  list
 4       rsplit  list
 train.Length  train.Class  train.Mode test.Length  test.Class  test.Mode
 34          data.frame  list          34          data.frame  list
 34          data.frame  list          34          data.frame  list
 34          data.frame  list          34          data.frame  list
 34          data.frame  list          34          data.frame  list
 34          data.frame  list          34          data.frame  list
 model.Length  model.Class  model.Mode
 30    glm   list
 30    glm   list
 30    glm   list
 30    glm   list
 30    glm   list

In [33]:
colnames(cv_models_lr)

[1] "splits" "id"     "train"  "test"   "model"

### Evaluating the attrition classification model for a single fold

Extract the model and the validate dataframe from the first fold of the cross-validation.

In [34]:
model <- cv_models_lr$model[[1]]
validate <- cv_models_lr$test[[1]]

In [35]:
colnames(validate)

 [1] "ï..Age"                   "Attrition"
 [3] "BusinessTravel"           "DailyRate"
 [5] "Department"               "DistanceFromHome"
 [7] "Education"                "EducationField"
 [9] "EmployeeCount"            "EmployeeNumber"
[11] "EnvironmentSatisfaction"  "Gender"
[13] "HourlyRate"               "JobInvolvement"
[15] "JobLevel"                 "JobRole"
[17] "JobSatisfaction"          "MaritalStatus"
[19] "MonthlyIncome"            "MonthlyRate"
[21] "NumCompaniesWorked"       "OverTime"
[23] "PercentSalaryHike"        "PerformanceRating"
[25] "RelationshipSatisfaction" "StandardHours"
[27] "StockOptionLevel"         "TotalWorkingYears"
[29] "TrainingTimesLastYear"    "WorkLifeBalance"
[31] "YearsAtCompany"           "YearsInCurrentRole"
[33] "YearsSinceLastPromotion"  "YearsWithCurrManager"

In [36]:
# Prepare binary vector of actual Attrition values in validate
validate_actual <- validate$Attrition == "Yes"
# Predict the probabilities for the observations in validate
validate_probabilities <- predict(model, validate, type="response")

Warning message in predict.lm(object, newdata, se.fit, scale = 1, type = ifelse(type == :
"prediction from a rank-deficient fit may be misleading"

In [37]:
glimpse(validate_actual)
glimpse(validate_probabilities)

 logi [1:221] FALSE FALSE FALSE FALSE FALSE TRUE ...
 Named num [1:221] 0.3013 0.04876 0.12358 0.00296 0.15301 ...
 - attr(*, "names")= chr [1:221] "5" "16" "18" "19" ...

In [38]:
# Turning probabilities into predictions depending on threshold of 0.5
validate_predictions <- ifelse(validate_probabilities > 0.5, TRUE, FALSE)
glimpse(validate_predictions)

 Named logi [1:221] FALSE FALSE FALSE FALSE FALSE TRUE ...
 - attr(*, "names")= chr [1:221] "5" "16" "18" "19" ...

Make a contigency table or confusion matrix

In [39]:
table(validate_actual, validate_predictions)

               validate_predictions
validate_actual FALSE TRUE
          FALSE   183    3
          TRUE     18   17

#### Calculating binary classification metrics for selected fold


<li>
<ul>Accuracy: the share of correct predictions in relation to all observations</ul>
<ul>Precision: the share  of true predictions of true and false predictions </ul>
<ul>Recall:  the share  of true predictions of all actually true observations</ul>
</li>

In [40]:
accuracy(validate_actual, validate_predictions)

[1] 0.9049774

In [41]:
precision(validate_actual, validate_predictions)

[1] 0.85

In [42]:
recall(validate_actual, validate_predictions)

[1] 0.4857143

#### Prepare for cross-validated performance

In [43]:
suppressWarnings(
cv_prep_lr <-  cv_models_lr %>% 
  mutate(
    # Prepare binary vector of actual Attrition values in validate
    validate_actual = map(test, ~.x$Attrition == "Yes"),
    # Prepare binary vector of predicted Attrition values for validate
    validate_predicted = map2(.x = model, .y = test, ~predict(.x, .y, type = "response") > 0.5)
  ))

In [44]:
summary(cv_prep_lr )

 splits.Length  splits.Class  splits.Mode      id
 4       rsplit  list                     Length:5
 4       rsplit  list                     Class :character
 4       rsplit  list                     Mode  :character
 4       rsplit  list
 4       rsplit  list
 train.Length  train.Class  train.Mode test.Length  test.Class  test.Mode
 34          data.frame  list          34          data.frame  list
 34          data.frame  list          34          data.frame  list
 34          data.frame  list          34          data.frame  list
 34          data.frame  list          34          data.frame  list
 34          data.frame  list          34          data.frame  list
 model.Length  model.Class  model.Mode
 30    glm   list
 30    glm   list
 30    glm   list
 30    glm   list
 30    glm   list
 validate_actual.Length  validate_actual.Class  validate_actual.Mode
 221      -none-   logical
 221      -none-   logical
 221      -none-   logical
 220      -none-   logical
 220      -none-   logical
 validate_predicted.Length  validate_predicted.Class  validate_predicted.Mode
 221      -none-   logical
 221      -none-   logical
 221      -none-   logical
 220      -none-   logical
 220      -none-   logical

In [45]:
# Calculate the validate recall for each cross validation fold
cv_performance_recall <- cv_prep_lr %>% mutate(validate_recall =  map2_dbl(.x=validate_actual, .y=validate_predicted, ~recall(.x, .y)))

In [46]:
# Print the validate_recall column
cv_performance_recall$validate_recall

        1         2         3         4         5
0.4857143 0.3939394 0.3658537 0.4444444 0.4285714

In [47]:
mean(cv_performance_recall$validate_recall)

[1] 0.4237046

The average validate recall is 0.43.

#### Can a random forest model perform better than the logistic regression model (recall = 0.43)?

In [48]:
# Tuning the model by inserting different values of mtry
cv_tune <- cv_data_attr %>% crossing(mtry=c(2,4,8,16))

In [49]:
# Build a cross validation model for each fold & mtry combination of the training data
cv_rf <- cv_tune %>% mutate(rf_model = 
                            map2(.x= train, .y=mtry,.f= ~ranger(formula=Attrition~.,data=.x,
                                                     mtry=.y, num.trees=100, seed=42)))

In [50]:
colnames(cv_rf )

[1] "splits"   "id"       "train"    "test"     "mtry"     "rf_model"

In [51]:
cv_rf$mtry
length(cv_performance_recall$recall)

 [1]  2  4  8 16  2  4  8 16  2  4  8 16  2  4  8 16  2  4  8 16

Warning message:
"Unknown or uninitialised column: 'recall'."

[1] 0

Prepare the validate_actual and validate_predicted columns 
for each mtry/fold combination of the random forest model.

In [52]:
cv_prepare_rf <- cv_rf %>% mutate(validate_actual = map(test, ~.x$Attrition == "Yes"),
                           validate_prediction = map2(.x=rf_model, .y=test, ~predict(.x, .y, type="response")$predictions == "Yes"))

In [53]:
# Calculate the validate recall for each cross validation fold
cv_performance_recall <- cv_prepare_rf %>% mutate(recall= map2_dbl(.x=validate_actual, .y=validate_prediction, ~recall(actual=.x,predicted=.y)))

In [54]:
colnames(cv_performance_recall)

[1] "splits"              "id"                  "train"
[4] "test"                "mtry"                "rf_model"
[7] "validate_actual"     "validate_prediction" "recall"

In [55]:
cv_performance_recall$recall
length(cv_performance_recall$recall)

         1          1          1          1          2          2          2
0.11428571 0.20000000 0.17142857 0.22857143 0.09090909 0.09090909 0.06060606
         2          3          3          3          3          4          4
0.06060606 0.02439024 0.09756098 0.17073171 0.21951220 0.02777778 0.11111111
         4          4          5          5          5          5
0.16666667 0.13888889 0.14285714 0.14285714 0.21428571 0.17857143

[1] 20

In [56]:
# Calculate the mean recall for each mtry used 
cv_average_recall_mtry <- cv_performance_recall %>% 
select(mtry, recall) %>% group_by(mtry) %>% summarise(mean_recall = mean(recall))
# Problem solved: use select otherwise you run into error
# https://community.rstudio.com/t/warning-error-in-names-attribute-must-be-the-same-length-as-the-vector/11312/3

In [57]:
colnames(cv_average_recall_mtry )
class(bb)
dim(bb)

[1] "mtry"        "mean_recall"

ERROR: Error in eval(expr, envir, enclos): Objekt 'bb' nicht gefunden

In [ ]:
print(cv_average_recall_mtry )

The best performing random forest model has a recall of 0.128 with an mtry of 4. The recall of the logistic regression model was clearly better with 0.49.

### Building the logistic regression model as the best model and make predicitions on the testing data

In [ ]:

# Build the logistic regression model using all training data
best_model <- glm(formula = Attrition~., 
                  data = training_attr , family = "binomial")


# Prepare binary vector of actual Attrition values for testing_data
test_actual <- testing_attr$Attrition == "Yes"

# Prepare binary vector of predicted Attrition values for testing_data
test_predicted <- predict(best_model, testing_attr , type = "response") > 0.5

In [ ]:
summary(best_model)

In [ ]:
class(test_predicted)

In [ ]:
test_predicted[1:10]

In [ ]:
# Compare the actual & predicted performance visually using a table
table(test_actual, test_predicted)

# Calculate the test accuracy
accuracy(test_actual, test_predicted)

# Calculate the test precision
precision(test_actual, test_predicted)

# Calculate the test recall
recall(test_actual, test_predicted)

Of all actually leaving employees 45% can be identitfied as at risk of leaving.